.podcast-episode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 20px;
  border: 1px solid black;
  border-radius: 4px;

  .podcast-episode-metadata-heading{
    display: flex;
    > * {
      margin-bottom: 4px;
    }
  }

  .podcast-episode-image {
    max-width: 105px;
    margin-right: 8px;
  }

  .podcast-episode-title {
    font-weight: bold;
  }

  .podcast-episode-now-playing {
    color: green;
    font-weight: bold;
    margin-left: 8px;
  }

  .podcast-episode-metadata-details {
    display: flex;
    font-size: 0.875em;
    margin-bottom: 4px;
  }

  .podcast-episode-duration {
    margin-left: 8px;
  }

  .podcast-episode-description {
    line-height: 1.3em;
    max-height: 2.6em;
    overflow: hidden;
    word-break: break-word;
  }

  .podcast-episode-button {
    background: none;
    border: none;
    width: 40px;
  }

  .podcast-episode-controls {
    display: flex;
    justify-content: flex-end;
    min-width: 100px;
  }

  @media screen and (max-width: 479px) {
    flex-direction: column;

    .podcast-episode-metadata-heading {
      flex-direction: column;
    }

    .podcast-episode-now-playing{
      margin-left: 0;
    }

    .podcast-episode-image {
      display: none;
    }

    .podcast-episode-description {
      line-height: 1em;
      max-height: 4em;
    }

    .podcast-episode-controls {
      margin-top: 8px;
      align-self: flex-end;
    }
  }
}
